.homepage-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .button-container {
        width: 500px;
        height: 500px;
        background-color: grey;
        display: flex;
        flex-direction: column;
    }
}