.data-button-container {
    height: 55px;
    width: 250px;
    border: 2px solid blue;
    background-color: white;
    color: blue;
    border-radius: 10px;
    font-family: 'Open Sans', ;
    font-weight: bold;
    font-size: 0.9em;
    letter-spacing: 2px;
}

.true {
    background-color: blue;
    color: white;
}